#login
{	
	height: 100%;
	width: 30%;
	/*background-color: red;*/
	margin-left: 80%;
	float: right;
	/*visibility: hidden;*/
	position: absolute;
	    background-image:url("image.jpg") ;

}

#login h1{
	text-align: center;
	/*background-color: blue;*/
	padding: 50px 0 50px 0;
	font-size: 40px;
}

#login p
{
	text-align: center;
	/*background-color: green;*/
	font-size:20px; 
	padding: 60px 0 0 0;
}

#signupbutton
{
	border-radius: 5px;
	font-size: 30px;
	margin-left: 35%;
	margin-top: 65%;

}

#signupbutton:hover
{
	cursor: hand;
}

@keyframes loginanimate{
	0%{background-position: 80%;margin-left: 80%}
	100%{background-position:0%;margin-left:0% }
}
