
#signup
{	
	 height: 100%;
    width: 30%;
    background-image:url("image.jpg") ;
    position: relative;
    float: left;
    background-position: top left;
    position: absolute;
	
}


#signup h1{
	text-align: center;
	padding: 50px 0 50px 0;
	font-size: 40px;
	color: white;

}

#signup p
{
	text-align: center;
	font-size:20px; 
	padding: 60px 0 0 0;
	color: white;

}

#signin
{
	border-radius: 5px;
	font-size: 30px;
	margin-left: 35%;
	margin-top: 65%;


}

#signin:hover
{
	cursor: hand;
}

@keyframes signupanimation
{
	100%{background-position: 80%;margin-left: 80%}
	0%{background-position: 0px;margin-left: 0px;}

}


